 <table id="example1" class="table table-bordered table-striped">
 <%= link_to 'New', new_admin_project_setting_path ,:class => "btn" %>
<tbody>
<% @settings.each do |setting| %>
<tr>

<td><%= setting.project_name%></td>
<td><%= setting.access == true ? 'Yes' : 'No' %></td>
<td><%= link_to 'Edit', edit_admin_project_setting_path(setting) ,:class => "btn" %></td>
</tr>
<% end %>
</tbody>
</table>
<br/>