<div class="wrapper-bottom">
	<div class="bottom-footer">
    	<div class="copy">Copyright &copy; KIPL 2015</div>
        <div class="design">Site Designed By:<a href="#">kipl</a></div>
    </div>
</div>